name: Deploy ITS_LIVE Monitoring Test

on:
  push:
    branches:
      - develop

concurrency: deploy-test

jobs:
  deploy:
    environment: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id:  ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - uses: ./.github/actions/deploy
        with:
          STACK_NAME: its-live-monitoring-test
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
          CF_TEMPLATE_BUCKET: cf-templates-3o5lnspmwmzg-us-west-2
          LANDSAT_TOPIC_ARN: arn:aws:sns:us-west-2:986442313181:its-live-notify-landsat-test
          SENTINEL2_TOPIC_ARN: arn:aws:sns:eu-west-1:986442313181:its-live-notify-sentinel2-test
          HYP3_API: https://hyp3-its-live-test.asf.alaska.edu
          HYP3_JOBS_TABLE: hyp3-its-live-test-JobsTable-1FT990PLG5K45
          LAMBDA_LOGGING_LEVEL: INFO
          PUBLISH_BUCKET: its-live-data-test
          MATTERMOST_PAT: ${{ secrets.MATTERMOST_PAT }}
