name: Deploy ITS_LIVE Monitoring Production

on:
  push:
    branches:
      - main

concurrency: deploy-prod

jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id:  ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - uses: ./.github/actions/deploy
        with:
          STACK_NAME: its-live-monitoring-prod
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
          CF_TEMPLATE_BUCKET: cf-templates-3o5lnspmwmzg-us-west-2
          LANDSAT_TOPIC_ARN: arn:aws:sns:us-west-2:673253540267:public-c2-notify-v2
          SENTINEL2_TOPIC_ARN: arn:aws:sns:eu-west-1:214830741341:NewSentinel2Product
          HYP3_API: https://hyp3-its-live.asf.alaska.edu
          HYP3_JOBS_TABLE: hyp3-its-live-JobsTable-178MIZ4ZXKL69
          LAMBDA_LOGGING_LEVEL: INFO
          PUBLISH_BUCKET: its-live-data
          MATTERMOST_PAT: ${{ secrets.MATTERMOST_PAT }}
