name: Deploy ITS_LIVE Monitoring

on:
  push:
    branches:
      - develop
  workflow_run:
    workflows:
      - "Tag New Version"
    branches:
      - main
    types:
      - completed

concurrency: deploy-${{ github.ref == 'refs/heads/main' && 'prod' || 'test' }}

jobs:
  call-version-info-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-version-info.yml@v0.20.0
    permissions:
      contents: read
    with:
      python_version: '3.12'

  call-docker-ecr-workflow:
    if:
    needs: call-version-info-workflow
    uses: ASFHyP3/actions/.github/workflows/reusable-docker-ecr.yml@v0.20.0
    permissions:
      contents: read
    with:
      version_tag: ${{ needs.call-version-info-workflow.outputs.version_tag }}
      ecr_registry: ${{ vars.ECR_REGISTRY }}
      aws_region: us-west-2
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy:
    environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'test' }}
    runs-on: ubuntu-latest
    needs:
      - call-version-info-workflow
      - call-docker-ecr-workflow
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id:  ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Lowercase repo for container registry
        run: |
          echo "REPO=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - uses: ./.github/actions/deploy
        with:
          STACK_NAME: ${{ vars.STACK_NAME }}
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
          CF_TEMPLATE_BUCKET: cf-templates-3o5lnspmwmzg-us-west-2
          LANDSAT_TOPIC_ARN: ${{ vars.LANDSAT_TOPIC_ARN }}
          SENTINEL2_TOPIC_ARN: ${{ vars.SENTINEL2_TOPIC_ARN }}
          HYP3_API: ${{ vars.HYP3_API }}
          HYP3_JOBS_TABLE: ${{ vars.HYP3_JOBS_TABLE }}
          LAMBDA_LOGGING_LEVEL: INFO
          PUBLISH_BUCKET: ${{ vars.PUBLISH_BUCKET }}
          MATTERMOST_PAT: ${{ secrets.MATTERMOST_PAT }}
          ECR_IMAGE_URI: "${{ vars.ECR_REGISTRY }}/${{ env.REPO }}:${{ needs.call-version-info-workflow.outputs.version_tag }}"
